{% extends 'home/base.html' %}

{% load qr_code %}

{% block content %}
    <div class="container">
        <p>{{ cup_owner }}</p>

        <p>{% qr_from_text qr_code_url size="t" %}</p>
        <img src="/home/sharley/PycharmProjects/ksi_cup/{{ cup_image.url }}"/>
    <p><a
            href="{% url  'cups_control:rebuke' cup_owner.id%}">
            Wyślij naganę mailową
        </a></p>


        <p><a 
            href="{% url  'cups_control:clean' cup_owner.id%}">
            Oznacz kubek jako czysty.
        </a></p>

  <form method="post" enctype="multipart/form-data">
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
</div>
{% endblock %}
